/* 4- Extenal */
body {
    padding-bottom: 500px;
}

h3 {
    color: aqua;
    font-size: 35px;
}

/* p {
    color: blueviolet;
} */

/* Classes */
.paragraph {
    background-color: black;
    color: crimson;
    padding: 5px;
}


/* ids */

#exclusive-title {
    background-color: darkcyan;
    color: rgb(224, 215, 215);
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ordem das regras */
h2 {
    border-bottom: 4px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 2px solid yellow;
}

/* Nome de cores */

.color-name {
    color: rgb(228, 33, 72)
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #25a527;
}

/* Aprofundando em hex */
.simple-hex {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    /* color: rgb(255, 37, 80); */
    color: rgb(27, 255, 127);

}

/* RGBA */
.rgba {
    color: rgba(255, 120, 170, 0.7);
}

/* HSL */
.hsl {
    color: hsl(100, 70%, 30%);
}

.hsl-2 {
    color: hsl(189, 56%, 27%);
}

/* Background */
.bg {
    background-color: #55a398;
    color: white;
}

.bg-2 {
    background-color: aquamarine;
    color: cyan;
}

/* Background opacity */
.bg-opacity {
    background-color: red;
    opacity: 0.3;
}

.bg-opacity-2 {
    background-color: blueviolet;
    color: white;
    opacity: 0.7;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.5);
    color: black;
}

/* BG image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/bridge.jpg)
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

.ponte {
    padding: 10px;
    display: flex;
    justify-content: center;
    color: rgba(10, 10, 150, 0.9);
}

/* altura e largura   */
.height-width {
    height: 200px;
    width: 100px;
    background-color: coral;
}

.height-width-2 {
    height: 300px;
    background-color: rgba(255, 120, 170, 0.7);
}

/* Padding */
.withould-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    padding: 20px;
    background-color: #333;
}

/* padding individual */

.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* shorthand padding */
.shorthand-padding {
    background-color: crimson;
    padding: 6px 20px 10px 30px;
}

.shorthand-padding-2 {
    background-color: #55a398;
    padding: 20px 40px;

}

/* Padding com width */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #900;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid rebeccapurple;
    padding: 10px;
}

.border-2 {
    border: 25px double rgb(27, 255, 127);
    padding: 20px;
}

/* Borda individual */
.border-left {
    border-left: 20px solid #25a527;
    background-color: #222;
    padding: 30px;
}

.border-bottom {
    border-bottom: 20px dotted rgba(90, 120, 20, 0.5);
    background-color: #222;
    padding: 30px;
}

/* Borda arredondada */
.rounded-p {
    border: 15px solid cornflowerblue;
    background-color: #222;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

.rounded-p-2 {
    background-color: #222;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}

/* Margem */
.margin {
    margin: 14px;
    background-color: #111;

}

.margin-top {
    margin-top: 20px;
    background-color: #25a527;
    padding: 20px;

}

.margin-shorthand {
    background-color: #900;
    margin: 10px 15px 20px 24px;

}

/* Box model */
.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 10px solid crimson;
    border-radius: 7px;
    width: 200px;
    height: 400px;
    background-color: #333;
    color: #fff;

}

/* Desafio */

#box_model_desafio {
    margin: 20px;
    border: 10px solid rgb(116, 49, 49);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    color: #fff;
    background-color: #222;
    outline: 10px solid crimson;
    outline-offset: 2px;

}

.conteudo {
    background-color: rgb(122, 47, 47);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;

}

/* text-align */

.text-aligned {
    text-align: right;

}

.container-center {
    text-align: center;
    width: 300px;
    border: 5px solid cornflowerblue;
}

/* Text decoration */
.underlaine {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #a5f;

}

/* text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}


/* letter spacing */
.spacing {
    letter-spacing: 25px;
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-style: Courier New;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* Text style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font weight */
.thin,
.bold,
.bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font saize */
.small {
    font-size: 5px;
}

.big {
    font-size: 79px;
}

/* Display */
.inline-box {
    width: 50px;
    height: 50px;
    background-color: #25a527;
    margin: 10px;
    display: inline-block;

}

.block {
    background-color: #222;
    display: block;
    margin: 5px;
}


/* escondendo elementos */
.invisible {
    display: none;
}

/* Static */
.static {
    position: static;
    background-color: #527;
    color: #fff6f6;
    height: 100px;
    width: 100px;
    margin: 10px;
}

/* relative */
.relative {
    position: relative;
    background-color: rgb(0, 128, 68);
    color: #fff6f6;
    height: 100px;
    width: 100px;
    margin: 10px;
    top: 100px;
    left: 50px;
}


/* Absolute */
.absolute {
    position: absolute;
    background-color: rgb(42, 45, 223);
    color: #fff6f6;
    height: 100px;
    width: 100px;
    top: 2px;
    right: 2px;
}


/* relative com absolute */
.relative-container {
    height: 300px;
    width: 300px;
    border: 1px solid crimson;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    height: 50px;
    width: 50px;
    background-color: #25a527;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}


/* Fixed */
.fixed {
    height: 100px;
    width: 100px;
    background-color: #444;
    border: 5px solid rgb(100, 1, 21);
    margin-top: 120px;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* sticky */
.sticky {
    height: 100px;
    width: 100px;
    background-color: #222;
    border: 5px solid  #25a527;
    margin-top: 120px;
    position: sticky;
    top: 10px;
}

/* z index */
.absolute-3,
.absolute-4,
.absolute-5 {
    height: 50px;
    width: 50px;
    background-color: #123;
   position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}
 .absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 20;
 }

 .absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #9b0000;
    z-index: 1;
 }